/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


.container-main{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

.tree-node:hover{
  background-color: #c1daf7;
  font-weight: bold;
  cursor: pointer;
}

.btn-icon{
color: red;
}

.btn-icon:hover{
  font-weight: bold;
  cursor: pointer;
}

.card-header , .custom-table-data > thead > tr {
  background-color: #1b6ec2;
  color: whitesmoke;
}



.custom-table-data > tbody > tr {
cursor: pointer;
}

#dropdown-employeeOptions::after{
  display: none;
}

.menu-link{
  text-decoration: none !important ;
}

.employee-link .list-group-item{
  padding-left: 0;
  padding-right: 0;
}

.employee-link .list-group-item :hover{
  font-weight: bold;
  cursor: pointer;
  background-color: #c1daf7;
}

.modal-header{
  background-color: #1b6ec2;
  font-weight: bold;
  border-bottom: none;
  color: whitesmoke;
}

